//
.btn__menu {
display: inline-flex;
border: none;
margin: 0;
padding: 0;
background-color: transparent;
.icon-close {
  display: none;
}
}
.btn__menu.is-open .icon-close {
  display: block;
}
.btn__menu.is-open .icon-menu {
  display: none;
}
.hero__btn {
  @extend %btn;
  @extend %btn-min;
  @include padding(10px, 32px, 10px, 32px);
  display: flex;
  text-align: center;
  transition: color var(--duration) linear;
  &:active {
    color: var(--links-color);
  }
}
.footer__btn {
  @extend %btn;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
  justify-content: center;
  display: inline-flex;
  min-width: 200px;
  min-height: 50px;
  @include padding(10px, 29px, 10px, 29px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-property: color, background-color, box-shadow;
}
.button {
  @extend %btn-min;
  letter-spacing: 0.03em;
  min-height: 50px;
  @include padding(6px, 22px, 6px, 22px);
  font-style: inherit;
  font-weight: 500;
  line-height: 1.62;
  box-shadow: none;
}
.portfolio__btn {
    cursor: pointer;
    min-height: 38px;
    font-weight: 500;
    font-family: inherit;
    font-style: inherit;
    font-size: 16px;
    line-height: 1.62;
    @extend %align-spacing;
    @extend %align-list;
    border: none;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 4px;
    background: var(--galery-color);
    transition: color var(--duration) linear, background-color var(--duration) linear, box-shadow var(--duration) linear;
    &:active,
    &:hover,
    &:focus {
        @extend %bgc-shadow;
    }
    @media screen and (min-width: 768px) {
    margin-bottom: 15px;
    margin-right: 8px;
    }
}
.modal__btn {
  @extend %btn;
  @extend %btn-min;
  @include padding(10px, 32px, 10px, 32px);
  width: 200px;
  height: 50px;
  text-align: center;
  transition: color var(--duration) linear;
  opacity: 1;
  visibility: visible;
  transition: visibility 500ms var(--function), opacity 500ms var(--function);
  transform: scale(1);
  &:hover,
  &:focus {
    color: var(--links-color);
  }
  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: visibility 500ms var(--function), opacity 500ms var(--function);
    transform: scale(1.1);
  }
}
.current__btn {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current-btn:active,
.current-btn:hover,
.current-btn:focus {
    @extend %bgc-shadow;
}