:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --first-logo-color: #000000;
  --second-logo-color: #ffffff;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --main-title-color: #212121;
  --second-title-color: #212121;
  --footer-color: #2f303a; 
  --galery-color: #f5f4fa;
  --links-color: rgba(255, 255, 255, 0.6);
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
