.footer {
  @include padding(60px, 0, 60px, 0);
  background-color: var(--footer-color);
  @extend %align-list;
  & > .container {
    display: flex;
    align-items: baseline;
  }
}
.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  @extend %font;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
  display: block;
}
.footer__navigation {
  margin-right: 70px;
  & > .link.logo.footer__logo {
    @include padding(0, 0, 0, 0);
    @include margin(0, 0, 20px, 0);
  }
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  margin-top: 9px;
  margin-bottom: 9px;
  @include padding(0, 0, 0, 0);
  line-height: 1.7;
  @extend %font;
  color: var(--links-color);
}
.footer__address-color {
  @include padding(0, 0, 0, 0);
  margin-bottom: 9px;
  color: var(--third-text-color);
}
.footer__social-icons {
  padding-top: 12px;
  margin-right: 93px;
}
.footer__social-list {
  display: flex;
}
.footer__social-item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}
.footer__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @extend %align-list;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) linear, fill var(--duration) linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer__icons {
  fill: var(--third-text-color);
  color: var(--hero-color);
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__modal {
  margin-right: 12px;
}
.footer__modal-text {
  width: 358px;
  height: 50px;
  margin-right: 8px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--links-color);
  background-color: var(--footer-color);
  resize: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer__input-icon {
fill: var(--second-logo-color);
}