.header {
  border-bottom: 1px solid #ececec;
 
}
.header__logo {
  color: var(--accent-color);
}
.header__link {
  @extend %font-min;
  color: var(--first-text-color);
  transition: color var(--duration) linear;
  position: relative;
  &.current::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  
}
.header__link-style {
  @extend %font-min;
  color: var(--second-text-color);
  flex-wrap: wrap;

}
.current {
  color: var(--accent-color);
}
.header__navigation,
.header__list {
  display: flex;
  align-items: center;
  //flex-wrap: wrap;
}
.header__item > .link {
  display: flex;
  
  @media screen and (max-width: 767px) {
display: none;
}
  @media screen and (min-width: 768px) {
margin-left: 84px;
  margin-right: 0;
  padding-top: -10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
align-items: baseline;
margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}
}
.header__list > .header__item {

@media screen and (max-width: 479px) {
display: none;
}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1200px) {

}
}
.header__list > .header__item:not(:last-child) {
  margin-right: 50px;
  
}
.envelope, .smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.smartphone {
  width: 10px;
  height: 16px;
}
.envelope {
  width: 16px;
  height: 12px; 
}
header__menu-list
header__menu-item
header__menu-link-style
social__menu
.social__menu-item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}
.link__social-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
    padding: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    display: block;
    padding: 25px 16px;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu {
  display: none;
  @media screen and (max-width: 768px) {
position: absolute;
background-color: var(--hero-color);
width: 100vw;
height: 100vh;
top: 0;
position: fixed;
z-index: 5;
padding-top: 48px;
padding-bottom: 48px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
    
  }
}

.icon-close {
  display: block;
  position: absolute;
  fill: currentColor;
  margin-top: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.header__btn-close,
.header__btn-open {
background-color: transparent;
margin-left: auto;
display: inline-flex;
border: none;
align-items: center;
}