.hero {
  background-color: var(--footer-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroung-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.hero__title {
  width: 480px;
  @include margin(0, auto, 30px, auto);
  @include padding(0, 0, 0, 0);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}
